*{
    margin: 0;
    padding: 0;
    font-family: poppins;
    box-sizing: border-box;
    color: white;
}
/* section ====== header */
.header{
    height: 100vh;
    background-image: url(./images/coffee_image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: relative;
}
.logo a{
    font-family: "Clicker Script", cursive;
    text-decoration: none;
    font-size: 2em;
    color: white;
}
.logo a:hover{
    color: #F9C06A;
}

.nav-list{
    display: flex;
    list-style: none;
}
.nav-list li {
    padding-left: 2rem;

}
.nav-list li:hover{
    color: #F9C06A;
}

.signin{
    background: none;
    border: none;

    
}
.signin:hover{
    color: #F9C06A;
}
.signup{
    background-color: #F9C06A;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    margin-left: 1rem;
    border: none;
}
.signup:hover{
    color: black;
    background: white;
}

.checkbox{
    display: none;
}
.label-nav{
    font-size: 1.5rem;
    display: none;
}

/* media quoerie for navbar */
@media (max-width:900px){
    .nav-list{
        flex-direction: column;
        position: absolute;
        top: -10px;
        right: 0;
        background: #F9C06A;
        margin-right: 0.5rem;
        padding: 5rem 1rem;
        border-radius: 5px;
        display: none;
    }
    .nav-list li{
        padding-bottom: 1rem;
        color: black;
    }
    .nav-list li:hover{
        color: white;
    }

    .nav-btn{
        position: absolute;
        top: 17rem;
        right: 30px;
        display: none;
    }
    .signin{
        font-size: 1rem;
        color: black;
    }
    .signin:hover{
        color: white;
    }
    .signup{
        font-size: 0.7rem;
        padding: 7px 10px;
        margin: 0;
        background-color: black;
    }
    .label-nav{
        display: block;
        z-index: 1;
    }
    .checkbox:checked+ .label-nav +.nav-list{
        display: block;

    }
    .checkbox:checked +.label-nav+.nav-list+.nav-btn{
        display: block;
    }
        
}
/* navbar ended  */

/* hero styling */
.hero{
    padding: 50px;
    font-size: 1.5rem;
    font-weight: 300;
}

.hero h1{
    font-size: 18rem;
    font-family: "Clicker Script", cursive;
    font-weight: 200;
}
.hero button{
    font-weight: 1rem;
    padding: 10px 15px;
    border-radius: 30px;
    border: none;
    background: #F9C06A;
    color:black;
    margin-top: 20px;
}

@media (max-width:900px){
    .hero{
        font-size: 1rem;
        margin-top:100px;
    }
    .hero h1{
        font-size: 12rem;
        color: #F9C06A;
    }
}

/* hero done */

/* about us */
.about{
    height: 200vh;
}

/* discover */
.descover{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.the-best p{
    color: black;
    font-size: 1.3rem;
    font-weight: 200;
    margin: 30px 0;
}
.the-best h1{
    color: #6F4E37;
    font-size: 3rem;
}
.the-best button{
    background-color: #F9C06A;
    color: black;
    border: none;
    border-radius: 30px;
    padding: 10px 15px;
}

.the-best-img img{
    width: 600px;

}

.coffe-blast{
    position: absolute;
    left: 0;
    bottom: -20%;
}

@media (max-width:1100px){
    .descover{
        flex-direction: column;
        
    }
    .the-best h1{
        font-size: 2rem;
    }
    .the-best p{
        font-size: 0.8rem;
    }
    .the-best-img img{
        width: 400px;
        margin-top: 20px;
    
    }

}
@media (max-width:900px){
    .coffe-blast{
        display: none;
    }
}
@media (max-width:899px){
    .coffe-blast{
        display: block;

    }
}

/* discover done */

/* coffe style */
.coffe-style h1{
    color: #6F4E37;
    text-align: center;
    margin-top: 100px;
    font-size: 3rem;

}
.coffe-style p{
    color: black;
    text-align: center;
}

.our-special{
    display: flex;
    justify-content:center;
    gap: 1rem;
    flex-wrap: wrap;
    padding-top: 100px;
}

.order-now{
    border: 0.5px solid #d7b298;
    padding-bottom: 50px;
    background-color: #f0d4bf;
    position: relative;
}
.order-now h3{
    color:#6F4E37;
    text-align: center;

}
.order-now p{
    text-align: center;
}

.order-btn button{
    position: absolute;
    border: none;
    padding: 10px 15px;
    border-radius: 30px;
    color: black;
    background-color: #F9C06A;
    font-weight: 600;
    bottom: -20px;
    left: 30%;
}

@media (max-width:1000px){
    .coffe-style h1{
        font-size: 1.5rem;
        margin-top: 120px;
    }
    .coffe-style p{
        font-size: 0.7rem;
        margin-top: 10px;
    }
   
}
@media (max-width:1500px){
     .order-now{
        width: 200px;
        margin-bottom: 15px;
    }
    .order-now img{
        width: 199px;
    }
}
