*{
    margin: 0;
    padding: 0;
    font-family: poppins;
    box-sizing: border-box;
    color: white;
}
/* section ====== header */
.header{
    height: 100vh;
    background-image: url(./images/coffee_image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    position: relative;
}
.logo a{
    font-family: "Clicker Script", cursive;
    text-decoration: none;
    font-size: 2em;
    color: white;
}
.logo a:hover{
    color: #F9C06A;
}

.nav-list{
    display: flex;
    list-style: none;
}
.nav-list li {
    padding-left: 2rem;

}
.nav-list li:hover{
    color: #F9C06A;
}

.signin{
    background: none;
    border: none;

    
}
.signin:hover{
    color: #F9C06A;
}
.signup{
    background-color: #F9C06A;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    margin-left: 1rem;
    border: none;
}
.signup:hover{
    color: black;
    background: white;
}

.checkbox{
    display: none;
}
.label-nav{
    font-size: 1.5rem;
    display: none;
}

/* media quoerie for navbar */
@media (max-width:900px){
    .nav-list{
        flex-direction: column;
        position: absolute;
        top: -10px;
        right: 0;
        background: #F9C06A;
        margin-right: 0.5rem;
        padding: 5rem 1rem;
        border-radius: 5px;
        display: none;
    }
    .nav-list li{
        padding-bottom: 1rem;
        color: black;
    }
    .nav-list li:hover{
        color: white;
    }

    .nav-btn{
        position: absolute;
        top: 17rem;
        right: 30px;
        display: none;
    }
    .signin{
        font-size: 1rem;
        color: black;
    }
    .signin:hover{
        color: white;
    }
    .signup{
        font-size: 0.7rem;
        padding: 7px 10px;
        margin: 0;
        background-color: black;
    }
    .label-nav{
        display: block;
        z-index: 1;
    }
    .checkbox:checked+ .label-nav +.nav-list{
        display: block;

    }
    .checkbox:checked +.label-nav+.nav-list+.nav-btn{
        display: block;
    }
        
}
/* navbar ended  */

/* hero styling */
.hero{
    padding: 50px;
    font-size: 1.5rem;
    font-weight: 300;
}

.hero h1{
    font-size: 18rem;
    font-family: "Clicker Script", cursive;
    font-weight: 200;
}
.hero button{
    font-weight: 1rem;
    padding: 10px 15px;
    border-radius: 30px;
    border: none;
    background: #F9C06A;
    color:black;
    margin-top: 20px;
}

@media (max-width:900px){
    .hero{
        font-size: 1rem;
        margin-top:100px;
    }
    .hero h1{
        font-size: 12rem;
        color: #F9C06A;
    }
}

/* hero done */

/* about us */
.about{
    height: 240vh;
}

/* discover */
.descover{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.the-best p{
    color: black;
    font-size: 1.3rem;
    font-weight: 200;
    margin: 30px 0;
}
.the-best h1{
    color: #6F4E37;
    font-size: 3rem;
}
.the-best button{
    background-color: #F9C06A;
    color: black;
    border: none;
    border-radius: 30px;
    padding: 10px 15px;
}

.the-best-img img{
    width: 600px;

}

.coffe-blast{
    position: absolute;
    left: 0;
    bottom: -20%;
}

@media (max-width:1100px){
    .descover{
        flex-direction: column;
        
    }
    .the-best h1{
        font-size: 2rem;
    }
    .the-best p{
        font-size: 0.8rem;
    }
    .the-best-img img{
        width: 400px;
        margin-top: 20px;
    
    }

}
@media (max-width:900px){
    .coffe-blast{
        display: none;
    }
}
@media (max-width:899px){
    .coffe-blast{
        display: block;

    }
}

/* discover done */

/* coffe style */
.coffe-style h1{
    color: #6F4E37;
    text-align: center;
    margin-top: 100px;
    font-size: 3rem;

}
.coffe-style p{
    color: black;
    text-align: center;
}

.our-special{
    display: flex;
    justify-content:center;
    gap: 1rem;
    flex-wrap: wrap;
    padding-top: 100px;
    margin-top: -50px;
}

.order-now{
    border: 0.5px solid #d7b298;
    padding-bottom: 50px;
    background-color: #f0d4bf;
    position: relative;
}
.order-now h3{
    color:#6F4E37;
    text-align: center;

}
.order-now p{
    text-align: center;
}

.order-btn button{
    position: absolute;
    border: none;
    padding: 10px 15px;
    border-radius: 30px;
    color: black;
    background-color: #F9C06A;
    font-weight: 600;
    bottom: -20px;
    left: 30%;
}

@media (max-width:1000px){
    .coffe-style h1{
        font-size: 1.5rem;
        margin-top: 120px;
    }
    .coffe-style p{
        font-size: 0.7rem;
        margin-top: 10px;
    }
   
}
@media (max-width:1500px){
     .order-now{
        width: 200px;
        margin-bottom: 15px;
    }
    .order-now img{
        width: 199px;
    }
}

/* 
our quality */
.quality{
    position: relative;
}
.quality h1{
    color: #6F4E37;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 15px;
    font-size: 3rem;

}
.quality p{
    color: black;
    text-align: center;
}

.our-quality{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:2%;
    padding-top: 100px;
    margin-top: -50px;

}
.quality-list{
    border:2px solid #d7b298;
    text-align: center;
    padding: 40px 30px;
    background:#f0d4bf;
    flex-basis: 18%;
    
}
.quality-list h3{
    color: #6F4E37;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 5px;
}
.quality-list p{
    font-weight: 200;
}
.quality-list img{
    width: 70px;
    align-items: center;
}
.coffe-blast2{
    position: absolute;
    top: -150px;
    right: -50px;
   
}

@media (max-width:900px){
    .quality-list{
        flex: 1;
        margin: 10px;
    }
    .quality h1{
        font-size: 1.4rem;
    }
}

@media (max-width:1200px){
    .coffe-blast2 img{
        width: 300px;
    }
}
/* 
join us */
.join{
    text-align: center;
    margin-top: 100px;
}
.join p{
    color: rgb(47, 44, 44);
    font-size: 1rem;
    font-weight: 200;
}
.join h3{
    color: black;
    font-weight: 600;
    font-size: 1.3rem;
}
.join button{
    color:#6F4E37;
    background-color: #F9C06A;
    padding: 10px 15px;
    border: none;
    border-radius: 30px;
    margin-top: 20px;
}
@media (max-width:900px){
    .join p{
        font-size: 0.8rem;
        margin-top: -20px;
    }
    .join button{
        padding: 5px 9px;
        font-size: 12px;
        font-weight: 600;
    }
}

/* call to action */
.action{
    height: 70vh;
    display: flex;
    justify-content: space-between;
    background-image: url(./images/Rectangle\ 14.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -2;

}
.action::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0,0,0,0.5);
    z-index: -1;
}
.action-text{
    margin: 150px;
}
.action h1{
    font-size: 3.5rem;
    font-family: 'Times New Roman', Times, serif;
}
.action p{
    font-size: 1rem;
    font-weight: 200;
    margin-top: 20px;
    margin-bottom: 25px;
}
.action button{
    color: black;
    background: #F9C06A;
    padding: 10px 15px;
    border: none;
    border-radius: 30px;
}

.image-cup{
    position: absolute;
    right: 200px;
    top: 20%;

}
.image-cup img{
    width: 300px;
}

@media(max-width:1200px){
    .action{
        bottom: -260px;
        flex-direction: column;
        margin-bottom: 350px;
    }
    .action-text{
        margin: 100px;
        text-align: center;

    }
    .action-text p{
        font-size: 40px;
    }
    .action-text h1{
        font-size: 3rem;
    }
    .image-cup{
        display: none;
    }
    .action-img img{
        display: none;

    }
}
@media (max-width:900px){
    .action{
        margin-top: 400px;
    }
    .action-text p{
        font-size: 25px;
        margin: 50px 0;

    }
    .action-text h1{
        font-size: 1.7rem;
    }
}


/* testimonial */

.testimonial{
    height: 100vh;
    margin-top: 100px;
}
.testimonial h1{
    color: #6F4E37;
    text-align: center;
    font-size: 3rem;

}
.testimonial p{
    text-align: center;
    color: black;
    font-size: 1.2rem;
    font-weight: 200;
    margin-top: 10px;
}

.review{
    border: 1px solid #F9C06A;
    padding: 150px;
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #f0d4bf;
    margin-top: -100px;

}
.review h3{
    color: #6F4E37;
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 20px;
}

.arrow1{
    background-color: #F9C06A;
    padding: 25px 30px;
    border-radius: 10px;
    position: absolute;
    right: -20px;
    top: 40%;
}
.arrow2{
    background-color: #F9C06A;
    padding: 25px 30px;
    border-radius: 10px;
    position: absolute;
    left: -20px;
    top: 40%;
}

.photo-review{
    position: absolute;
    bottom: -50px;
    right: 45%;
}
.p-review{
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: xx-large;
}

@media (max-width:1200px){
    .testimonial{
        margin-right: 20px;
    }
    .testimonial .test-h{
        
    
    }
    .test-h h1{
        font-size: 1.5rem;
    }
    .test-h p{
        font-size: 0.9rem;
    }
    .review{
        padding: 30px 10px;
        margin: 20px;
        margin-top: -200px;
    }
    .review p{
        font-size: 0.9rem;
    }
    .review h3{
        font-size: 1rem;
    }
    .p-review{
        top: 0;
    }
    .photo-review{
        bottom: -80px;
        right: 170px;
    }
    .photo-review img{
        width: 100px;
    }
    .arrow1 img, .arrow2 img{
        width: 10px;
        

    }
    .arrow1, .arrow2{
        padding: 10px 15px;
    }
    .arrow1{
        top:80%;
        right: -20px;
    }
       .arrow2{
        top:80%;
        left: -20px;
    }

}
